<section class="flex-col mx-8 my-4 border-4 md:w-84 d-flex border-indigo-500/100">
  <h2>Post #<%= post.id %></h2>
<p><%= truncate(post.text, length: 125) ... %></p>
  <div class="post-stats">
    <span>Comments <%= post.comments_counter %> &nbsp;,&nbsp;</span>
    <span>Likes <%= post.likes_counter %></span>
  </div>
</p>

</section>