<%= stylesheet_link_tag('application') %>

<section class="mt-4 border-4 w-80 d-flex border-indigo-500/100">
<%= image_tag('profile-picture.jpg', class:'w-12 h-12')%>

<div>

<h2><%= link_to(user.name, user_path(user))%></h2>

<p>
Number of Posts : <%= user.posts_counter%>
</p>
</div>
</section>