<%= stylesheet_link_tag('application') %>

<section>
<%= image_tag('profile-picture.jpg', class:'avatar')%>

<div>
<h2><%= link_to(user.name, user_path(user))%></h2>

<p>
Number of Posts : <%= user.posts_counter%>
</p>
</div>
</section>