<div class=" md:flex-row sm:flex-col d-flex">
<%= image_tag('profile-picture.jpg', class:'m-3 md:w-14 md:h-14 w-14 h-14')%>

<div class="m-4 border-4 md:w-80 d-flex border-indigo-500/100">

<div>

<h2 class="font-bold"><%= link_to(user.name, user_path(user))%></h2>

<div class="ml-16">
Number of Posts : <%= user.posts_counter%>
</div>
</div>
</div>
</div>