
<%= image_tag('profile-picture.jpg', class:'m-3 w-12 h-12')%>

<section class="m-4 border-4 w-90 d-flex border-indigo-500/100">

<div>

<h2><%= link_to(user.name, user_path(user))%></h2>

<p>
Number of Posts : <%= user.posts_counter%>
</p>
</div>
</section>