<div class="justify-center p-4 font-bold text-white d-flex bg-slate-500">Display the list of all users</div>
<% @users.each do |user| %>
<%= render partial: 'partials/user_partial', locals: { user: user } %>
<% end %>




