<p class="container-fluid d-flex justify-content-center">Welcome <%= @email %>!</p>

<p class="container-fluid d-flex justify-content-center">You can confirm your account email through the link below:</p>

<p class="container-fluid d-flex justify-content-center"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
